.editorContainer {
  margin: 20px auto 20px auto;
  border-radius: 2px;
  width: 80%;
  color: #fff;
  position: relative;
  line-height: 20px;
  font-weight: 400;
  text-align: left;
  border-top-left-radius: 10px;
  border-top-right-radius: 10px;
  background-color: rgb(58, 58, 58);
}
