.jodit_theme_dark .jodit-wysiwyg {
    background-color: #131313;
    color: #d1cccc;
}
.jodit_theme_dark .jodit-toolbar__box:not(:empty){
    background-color: #1c1c1c;
}
.jodit-react-container{
    margin-top: 1%;
}
.jodit_theme_dark .jodit-workplace+.jodit-status-bar:not(:empty){
    background-color: #000000;
    border-color: #393939;
}
.jodit_theme_dark .jodit-workplace+.jodit-status-bar:not(:empty) .jodit-status-bar__item span {
    color: #707070;
}